* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

:root {
    --header-color: #3582f7;
    --utility-color: #b6dcfd;
}

/* debug */
header {
    height: 70px;
}

.container * {
    background-color: white;
} 

.container {
    height: 100%;
}

.utility {
    height: 100px;
}
/* fine debug */

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: var(--header-color);
}
.container {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    align-items: center; 
}

.flex {
    display: flex;
}

main {
    padding-top: 100px;
}

.utility {
    background-color: var(--utility-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
        display: flex;
        flex-wrap: wrap;
    }
    .utility {
        width: calc(100% /3 - 1.5rem);
        justify-content: space-between;
        margin: 0 0.75rem;
        margin-bottom: 0.75rem;
    }
    .utility:first-child {
        width: calc((100% /3) * 2 - 1.5rem);
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .utility:first-child {
        display: flex;
    }
    .desc_utility {
        max-width: 60%;
    }
    .img_utility {
        max-width: 40%;
    }
}