* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

:root {
    --header-color: #3582f7;
    --utility-color: #b6dcfd;
    --option-color: #7b72b2;
}

/* debug */
header {
    height: 70px;
}



.container {
    height: 100%;
}

.utility {
    height: 100px;
    padding: 10px;
}

.option_1 {
    
    color: white;
}

.option_2 {
    color: black;
}

.image {
    width: 100%;
    height: 50px;
}

.t_right {
    width: 100%;
    text-align: center;
}

/* fine debug */

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: var(--header-color);
}
.container {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    align-items: center; 
}

.flex {
    display: flex;
}

main {
    padding-top: 100px;
}

.utility {
    background-color: var(--utility-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.options {
    width: 100%;
    background-color: var(--option-color);
}
.option_1 {
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
}

.option_2 {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.testimonials {
    width: 100%;
}

.desc_t {
    text-align: center;
    width: 100%;
}

.t_list {
    background-color: var(--option-color);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.benefits {
    width: 100%;
    background-color: var(--option-color);
}

.goods_list {
    width: 100%;
}
.goods{
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
        display: flex;
        flex-wrap: wrap;
    }
    .utility {
        width: calc(100% /3 - 1.5rem);
        justify-content: space-between;
        
        margin-bottom: 0.75rem;
    }
    .utility:first-child {
        width: calc((100% /3) * 2 - 0.75rem);
    }
    .t_list {
        display: flex;
        width: 100%;
    }
    .image {
        width: 20%;
    }
    .t_right {
        width: 80%;
    }

    .goods_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .goods {
        width: calc((100% / 2) - 1.5rem);
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .utility:first-child {
        display: flex;
    }
    .desc_utility {
        max-width: 60%;
    }
    .img_utility {
        max-width: 40%;
    }
    .option {
        display: flex;
        align-items: flex-end;
    }
    .option_1 {
        max-width: 45%;
        margin-left: calc(5% / 2);
    }
    .option_2 {
        max-width: 45%;
        margin-right: calc(5% / 2);
    }
    .goods {
        width: calc((100% / 3) - 1.5rem);
    }
}